* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.stories-list-wrapper {
  width: 20%;
}
.stories-list-wrapper img {
  -webkit-box-shadow: 0 0 3px 1px #d8d8d8;
  -moz-box-shadow: 0 0 3px 1px #d8d8d8;
  box-shadow: 0 0 3px 1px #d8d8d8;
  margin-bottom: 10px;
}

.story-image {
  position: relative;
  max-width: 180px;
  margin: 0 auto;
}
.story-image .fa {
  position: absolute;
  right: 10px;
  width: 10px;
  height: 10px;
  bottom: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 13px 14px;
  background: rgba(255, 255, 255, 0.67);
  border: 1px solid rgba(255, 255, 255, 0.78);
  color: #000;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 2px 0 #000;
  -moz-box-shadow: 0 0 2px 0 #000;
  box-shadow: 0 0 2px 0 #000;
}


/* Preview page */
.preview-wrapper {
  width: 360px;
  position: fixed;
  left: 50%;
  right: 50%;
  margin: 65px auto 65px;
}
.preview {
  border-radius: 8px;
  height: 600px;
  /* width: 360px; */
  overflow-x: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
  padding: 0;
  transform: scale(1);
  transition: all 300ms ease;
}

.preview-wrapper .layer {
  position: absolute;
  top: 0;
  margin: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layer-wrapper {
  height: 100%;
  display: flex;
  width: 9000px;
  flex-wrap: wrap;
  transition: all 300ms;
}
.story {
  /* height: 600px; */
  width: 360px;
}

.initial-message {
  /* height: 600px; */
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators {
  display: flex;
  list-style: none;
  margin-top: 10px;
  justify-content: center;
}
.indicators li {
  height: 10px;
  width: 10px;
  background: #ddd;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  opacity: .7;
  transition: all 300ms;
}
.indicators li:hover {
  opacity: 1;
}
.indicators li.active {
  background: #000;
}

/* Preview page */ 

/* Templates */

/* Subway */

.subway-wrapper {
  height: 100%;
  color: #fff;
  position: relative;
}

.subway-wrapper .divider {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(158, 158, 158);
  color: rgb(51, 51, 51);
  height: 5px;
}
.subway-wrapper .text-container {
  background: rgba(0, 0, 0, 0.62);
  border: 1px solid rgba(158, 158, 158, 0);
  color: rgb(51, 51, 51);
  height: 218px;
  left: 33px;
  position: absolute;
  top: 0;
  width: 208px;
  padding: 44px 32px 18px 22px;
}
.subway-wrapper .text-1 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Euphoria Script";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.43em;
  text-align: left;
  text-transform: none;
} 

.subway-wrapper .text-2 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 4.5px;
  line-height: 18.45px;
  text-align: left;
  text-transform: none;
  margin-bottom: 8px;
  margin-top: 8px;
}

.subway-wrapper .text-3 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 14.3px;
  padding: 5px 10px;
}

.subway-wrapper .text-4 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 14.3px;
  padding: 5px 10px;
}
p {
  color: #fff;
}


/* Indian Cuisine */

.indian-cuisine-wrapper {
  height: 100%;
  position: relative;
}
.indian-cuisine-wrapper .text-container {
  background: rgba(45, 200, 121, 0);
  border: 6px solid rgb(0, 0, 0);
  color: rgb(51, 51, 51);
  height: 508px;
  left: calc(50% - 135px);
  position: absolute;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 270px;
  top: calc(50% - 254px);
  text-align: center;
  padding: 22px;
}

.indian-cuisine-wrapper .text-1 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Satisfy;
  font-size: 14px;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0em;
  line-height: 1.43em;
  text-align: center;
  margin-bottom: 8px;
}
.indian-cuisine-wrapper .text-2 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Hammersmith One";
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 47.5px;
  text-align: center;
}
.indian-cuisine-wrapper .text-3 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Mogra;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 0.95em;
  margin: 6px 0 8px 0;
}
.indian-cuisine-wrapper .text-4 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Hammersmith One";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 14.25px;
}

/* Italiana cookbook wrapper */
.italiana-cookbook-wrapper {
  /* background-color: rgba(0, 0, 0, 0); */
  color: rgb(51, 51, 51);
  /* height: 672.141px; */
  /* left: -331.992px; */
  /* position: absolute; */
  /* top: -32.0703px; */
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
  /* width: 968.122px; */
  text-align: center;
  position: relative;
  height: 100%;
}
.italiana-cookbook-wrapper img {
  filter: none;
  object-fit: cover;
  /* -webkit-mask-image: none;
  -webkit-mask-size: auto;
  -webkit-mask-repeat: repeat; */
  height: 100%;
  width: 100%;
}
.italiana-cookbook-wrapper .text-container {
  background: rgb(255, 255, 255);
  border: 5px solid rgb(0, 0, 0);
  color: rgb(51, 51, 51);
  height: 266.969px;
  left: 49.9609px;
  position: absolute;
  top: 180.957px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 266.969px;
  padding: 22px 22px 30px;
}
.italiana-cookbook-wrapper .text-1 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(51, 51, 51);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  left: 58.0078px;
  letter-spacing: 4.5px;
  line-height: 26.4px;
  text-transform: uppercase;
}
.italiana-cookbook-wrapper .text-2 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(51, 51, 51);
  font-family: "Museo Sans";
  font-size: 35px;
  font-weight: 700;
  line-height: 50.05px;
  text-transform: uppercase;
}
.italiana-cookbook-wrapper .text-3 {
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 21.45px;
}
.italiana-cookbook-wrapper .divider {
  background: rgb(0, 0, 0);
  border: 1px solid rgb(158, 158, 158);
  color: rgb(51, 51, 51);
  height: 5px;
  margin: 5px auto 13px auto;
  width: 150px;
}